body,
html {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background-color: #eff5f7;
}

button {
  cursor: pointer;
}

button p {
  margin: 0;
}

.simon-game {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 70px 60px 120px 120px 20px;
      grid-template-rows: 70px 60px 120px 120px 20px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.simon-game .simon-game__title {
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/span 12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

.simon-game .simon-game__tiles-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 9px;
}

.simon-game .simon-game__tiles-container.tiles-container--no-clickable {
  pointer-events: none;
}

.simon-game .simon-game__tiles-container .simon-game__tile {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border: 1px solid #000000;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
  width: 48%;
}

.simon-game .simon-game__tiles-container .simon-game__tile:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  border-radius: inherit;
  -webkit-transform: translate3d(0, 0.7em, -1em);
          transform: translate3d(0, 0.7em, -1em);
  outline: none;
}

.simon-game .simon-game__tiles-container .simon-game__tile.active, .simon-game .simon-game__tiles-container .simon-game__tile:active {
  -webkit-transform: translate(0em, 0.7em);
          transform: translate(0em, 0.7em);
}

.simon-game .simon-game__tiles-container .simon-game__tile.active:before, .simon-game .simon-game__tiles-container .simon-game__tile:active:before {
  background-color: transparent;
}

.simon-game .simon-game__tiles-container .simon-game__tile.tile--red {
  background-color: #ff6961;
  border-radius: 100% 0 0 0;
}

.simon-game .simon-game__tiles-container .simon-game__tile.tile--red.active, .simon-game .simon-game__tiles-container .simon-game__tile.tile--red:active, .simon-game .simon-game__tiles-container .simon-game__tile.tile--red:hover {
  background-color: #e20b00;
}

.simon-game .simon-game__tiles-container .simon-game__tile.tile--green {
  background-color: #b5ead7;
  border-radius: 0 100% 0 0;
}

.simon-game .simon-game__tiles-container .simon-game__tile.tile--green.active, .simon-game .simon-game__tiles-container .simon-game__tile.tile--green:active, .simon-game .simon-game__tiles-container .simon-game__tile.tile--green:hover {
  background-color: #16ec9e;
}

.simon-game .simon-game__tiles-container .simon-game__tile.tile--yellow {
  background-color: #fdfd96;
  border-radius: 0 0 100% 0;
}

.simon-game .simon-game__tiles-container .simon-game__tile.tile--yellow.active, .simon-game .simon-game__tiles-container .simon-game__tile.tile--yellow:active, .simon-game .simon-game__tiles-container .simon-game__tile.tile--yellow:hover {
  background-color: #f1f126;
}

.simon-game .simon-game__tiles-container .simon-game__tile.tile--blue {
  background-color: #78a2cc;
  border-radius: 0 0 0 100%;
}

.simon-game .simon-game__tiles-container .simon-game__tile.tile--blue.active, .simon-game .simon-game__tiles-container .simon-game__tile.tile--blue:active, .simon-game .simon-game__tiles-container .simon-game__tile.tile--blue:hover {
  background-color: #238bf3;
}

.simon-game .simon-game__info-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/span 12;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  text-align: center;
}

.simon-game .simon-game__controllers-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/span 12;
}

.simon-game .simon-game__start-button,
.simon-game .simon-game__alert-save {
  border: 1px solid #000000;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.simon-game .simon-game__start-button:hover,
.simon-game .simon-game__alert-save:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.simon-game .simon-game__start-button.start-button--hidden,
.simon-game .simon-game__alert-save.start-button--hidden {
  pointer-events: none;
  opacity: 0.3;
}

.simon-game .simon-game__info-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.simon-game .simon-game__info-container .info--hidden {
  opacity: 0;
}

.simon-game [aria-hidden="true"] {
  display: none;
}

.simon-game .simon-game__alert-container {
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #fff;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simon-game .simon-game__alert-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 700;
  border: 0;
  background-color: transparent;
  font-size: 20px;
}

.simon-game .simon-game__alert--hidden {
  display: none;
}

.simon-game .simon-game__input--hidden .simon-game__input {
  display: none;
}

.simon-game .simon-game__alert-input {
  padding: 5px;
  margin-top: 10px;
  width: 95%;
}

.simon-game .simon-game__alert-save {
  float: right;
  margin-top: 10px;
  font-size: 14px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .simon-game__tiles-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .simon-game__tiles-container {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / span 8;
  }
  .simon-game {
    -ms-grid-rows: 70px 50px 200px 200px 50px;
        grid-template-rows: 70px 50px 200px 200px 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .simon-game__tiles-contaixner {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / span 6;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .simon-game__tiles-container {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
  }
}
/*# sourceMappingURL=style.css.map */