$color-grey: #eff5f7;
$color-black: #000000;
$color-red: #ff6961;
$color-green: #b5ead7;
$color-blue: #78a2cc;
$color-yellow: #fdfd96;
$color-red-dark: #e20b00;
$color-green-dark: #16ec9e;
$color-blue-dark: #238bf3;
$color-yellow-dark: #f1f126;
$color-white: #ffffff;

$full-layout: 1 / span 12;

body,
html {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background-color: $color-grey;
}

button {
  cursor: pointer;
  p {
    margin: 0;
  }
}

.simon-game {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px 60px 120px 120px 20px;
  column-gap: 15px;
  row-gap: 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  .simon-game__title {
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    grid-column: $full-layout;
    grid-row: 1 / span 1;
  }

  .simon-game__tiles-container {
    grid-row: 3 / span 2;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;

    &.tiles-container--no-clickable {
      pointer-events: none;
    }

    .simon-game__tile {
      transform-style: preserve-3d;
      border: 1px solid $color-black;
      transition: background-color 0.15s ease-in;
      width: 48%;

      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-black;
        opacity: 0.6;
        border-radius: inherit;
        transform: translate3d(0, 0.7em, -1em);
        outline: none;
      }

      &.active,
      &:active {
        transform: translate(0em, 0.7em);

        &:before {
          background-color: transparent;
        }
      }

      &.tile--red {
        background-color: $color-red;

        border-radius: 100% 0 0 0;

        &.active,
        &:active,
        &:hover {
          background-color: $color-red-dark;
        }
      }

      &.tile--green {
        background-color: $color-green;
        border-radius: 0 100% 0 0;

        &.active,
        &:active,
        &:hover {
          background-color: $color-green-dark;
        }
      }

      &.tile--yellow {
        background-color: $color-yellow;
        border-radius: 0 0 100% 0;

        &.active,
        &:active,
        &:hover {
          background-color: $color-yellow-dark;
        }
      }

      &.tile--blue {
        background-color: $color-blue;
        border-radius: 0 0 0 100%;

        &.active,
        &:active,
        &:hover {
          background-color: $color-blue-dark;
        }
      }
    }
  }

  .simon-game__info-container {
    grid-column: $full-layout;
    grid-row: 5 / span 1;
    text-align: center;
  }

  .simon-game__controllers-container {
    grid-row: 2 / span 1;
    text-align: center;
    grid-column: $full-layout;
  }

  .simon-game__start-button {
    border: 1px solid $color-black;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: $color-black;
    color: $color-white;
    opacity: 0.8;
    transition: all 0.3s ease;
    user-select: none;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }

    &.start-button--hidden {
      opacity: 0;
    }
  }

  .simon-game__info-container {
    user-select: none;

    .info--hidden {
      opacity: 0;
    }
  }

  [aria-hidden="true"] {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .simon-game__tiles-container {
    grid-column: 2 / span 10;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .simon-game__tiles-container {
    grid-column: 3 / span 8;
  }

  .simon-game {
    grid-template-rows: 70px 50px 200px 200px 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .simon-game__tiles-contaixner {
    grid-column: 4 / span 6;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  //
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .simon-game__tiles-container {
    grid-column: 5 / span 4;
  }
}
